p{
    background-color: hotpink;

}

a{
    background-color: crimson;
    color: aliceblue;
}

div{
    background-color: darkviolet;
}

span{
    background-color: lightblue;
    color: lightcoral;
}